CarrierWave.configure do |config|
  config.azure_credentials = {
    storage_account_name: 'YOUR STORAGE ACCOUNT NAME',
    storage_access_key:   'YOUR STORAGE ACCESS KEY'
  }
  config.azure_container = 'YOUR CONTAINER NAME'
end
